table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #226876;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

a:visited{
  color: #226876;
}

button {
  border-radius: 5px;
  height: 32px;
  width: 32px;
  color: #226876;
  border-color: #226876;
}